<!DOCTYPE html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles.css"></link>
    <link rel="stylesheet" href="../static/layout.css"></link>
    <title>Home</title>
  </head>

  <body>
    <div class="container">

      <section class="calendar">
        <h2>Calendar</h2>

      </section>

      <section class="lists">
        <h2>Lists</h2>
        
      </section>

      <section class="weather">
        <h2>Weather</h2>
        
      </section>

      <section class="news">
        <h2>News</h2>
        
      </section>

      <!-- To template later
      <section class="home">
        <h1>Home</h1>
        <nav class="home-nav">
          <ul class="home-ul">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./calendar.html">Calendar</a></li>
            <li><a href="./weather.html">Weather</a></li>
            <li><a href="./lists.html">Lists</a></li>
            <li><a href="./news.html">News</a></li>
          </ul>
        </nav>
      </section> -->


      <footer>
      </footer>
    </div>
    <script src="../static/app.js"></script>
  </body>

</html>
