<!DOCTYPE html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles.css"></link>
    <link rel="stylesheet" href="../static/layout.css"></link>
    <title>Home</title>
  </head>

  <body>
    <div class="container">

      <section class="home">
        <h1>Home Screen</h1>
        <nav class="home-nav">
          <ul class="home-ul">
            <li><a>Home</a></li>
            <li><a>Calendar</a></li>
            <li><a>Weather</a></li>
            <li><a>Lists</a></li>
          </ul>
        </nav>
      </section>


      <footer>
      </footer>
    </div>
    <script src="../static/app.js"></script>
  </body>

</html>
