<!DOCTYPE html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles.css"></link>
    <link rel="stylesheet" href="../static/layout.css"></link>
    <title>Home</title>
  </head>

  <body>
    <div class="container">

      
      <section class="lists">
        <h2>Lists</h2>
        <a href="https://tasks.google.com/embed/?origin=https://calendar.google.com&fullWidth=1"></a>
      </section>
      
      <section class="weather">
        <h2>Weather</h2>
        
      </section>
      
      <section class="news">
        <h2>News</h2>
        
      </section>
      
      <section class="calendar">
        <h2>Calendar</h2>
        <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%233F51B5&amp;ctz=America%2FNew_York&amp;src=YTZpMWY1M3BidmFyNzAzZjJudDVhMWFibGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OWoyajc2cmd0MXRqZzFmbnNlNDI3a2o0cjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=M3ZlcmI5dGNnMG4yOWMxbzUzNmxzOXBzYmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=c2hlbmdjbGVlQGdtYWlsLmNvbQ&amp;src=dGlmZmVyc3Nzc0BnbWFpbC5jb20&amp;src=OHNpbzlmYTRhM2JnY3FhYm5pZnMxY2FoZXZoNm9uN3VAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;color=%23D81B60&amp;color=%23039BE5&amp;color=%233F51B5&amp;color=%239E69AF&amp;color=%230B8043&amp;color=%23616161&amp;title=Home&amp;mode=WEEK&amp;showPrint=0&amp;showNav=1" style="border:solid 1px #777" width="1400" height="300" frameborder="0" scrolling="no"></iframe>

      </section>
      
      <!-- To template later
      <section class="home">
        <h1>Home</h1>
        <nav class="home-nav">
          <ul class="home-ul">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./calendar.html">Calendar</a></li>
            <li><a href="./weather.html">Weather</a></li>
            <li><a href="./lists.html">Lists</a></li>
            <li><a href="./news.html">News</a></li>
          </ul>
        </nav>
      </section> -->


      <footer>
      </footer>
    </div>
    <script src="../static/app.js"></script>
  </body>

</html>
