* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
    border-style: solid;
    margin: 2px;
}

ul {
    list-style-type: none;
    }

@media (min-width: 600px) {
    }

@media (min-width: 768px) {
    }